

<div class = "container">
  <div class="row">
    <div class="col-md-3">
      <button>hi</button>
    </div>
    <div class="col-md-3">
      <button>hi</button>
    </div>
    <div class="col-md-3">
      <button>hi</button>
    </div>
    <div class="col-3">
      <button>hi</button>
    </div>
  </div>
</div>


<!--<div class="container ">-->
<!--  <div class="item">-->
<!--    <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--      <input type="text" pInputText placeholder="id" [(ngModel)]="id">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="item">-->
<!--    <div class="p-inputgroup">-->
<!--      <p-calendar [(ngModel)]="joiningDate" [showIcon]="true" inputId="icon"></p-calendar>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<div class="container ">-->
<!--  <div class="item">-->
<!--      <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--      <input type="text" pInputText placeholder="memberName" [(ngModel)]="memberName">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="item">-->
<!--    <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--      <input type="text" pInputText placeholder="MemberNo" [(ngModel)]="memberNo">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<button pButton type="button" label="SAVE" class = "item" (click)="saveMemberData()"></button>-->

<!--<button pButton type="button" label="CHECKCONNECTION" class = "item"(click)="checkConnection()"></button>-->

