table {
   width: 100%;
  //overflow: auto;
  //max-height: 500px;
}

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

//.example-container {
//  height: 400px;
//  width: 100%;
//  max-width: 100%;
//  overflow: auto;
//}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 550px;
  min-width: 300px;
  margin-bottom: 10px;
  overflow: auto;
}

//.mat-table {
//  overflow: auto;
//  max-height: 500px;
//}
