<p></p>
<div class="container">

  <div class="row ">
    <div class="card-holder col-md-4">
      <div class="basic-card-holder general-service-card-item">
        <h2>Total Member</h2>
        <div class="booking-detail">
          <p><span class="cost">50</span> 
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-button class="border">Clarify</button>
          </div>
          <div class="col-md-6">
            <button mat-button class="border">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-holder col-md-4">
      <div class="basic-card-holder general-service-card-item">
        <h2>Total Amount</h2>
        <div class="booking-detail">
          <p><span class="cost">3,30,000</span> <span class="currency">INR</span></p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-button class="border">Clarify</button>
          </div>
          <div class="col-md-6">
            <button mat-button class="border">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-holder col-md-4">
      <div class="basic-card-holder general-service-card-item">
        <h2>Other Donation</h2>
        <div class="booking-detail">
          <p><span class="cost">1,30,000</span> <span class="currency">INR</span></p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-button class="border">Clarify</button>
          </div>
          <div class="col-md-6">
            <button mat-button class="border">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="card-holder col-md-4">
      <div class="basic-card-holder general-service-card-item">
        <h2>Debt Amount</h2>
        <div class="booking-detail">
          <p><span class="cost">10,50,000</span> <span class="currency">INR</span></p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-button class="border">Clarify</button>
          </div>
          <div class="col-md-6">
            <button mat-button class="border">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-holder col-md-4">
      <div class="basic-card-holder general-service-card-item">
        <h2>Balance</h2>
        <div class="booking-detail">
          <p><span class="cost">3,30,000</span> <span class="currency">INR</span></p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-button class="border">Clarify</button>
          </div>
          <div class="col-md-6">
            <button mat-button class="border">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-holder col-md-4">
      <div class="basic-card-holder general-service-card-item">
        <h2>Debt Overdiv</h2>
        <div class="booking-detail">
          <p><span class="cost">1,30,000</span> <span class="currency">INR</span></p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-button class="border">Clarify</button>
          </div>
          <div class="col-md-6">
            <button mat-button class="border">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
